<?xml version="1.0"?>
<robot name="maze">
  <link name="maze_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="maze2.stl" scale="1.5 1.5 .5"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="maze2.stl" scale="1.5 1.5 .5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/> <!-- static -->
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>
